{% extends 'catalog/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }}{% endblock %}

{% block content %}
    {% if authors %}
        {% for author in authors %}
        <div class="author-item">
            <h3><a href="{% url 'author_detail' author_id=author.id %}">{{ author.name }}</a></h3>
            <p>{{ author.bio|slice:":100" }}...</p>
        </div>
        {% endfor %}
    {% else %}
        <p>Авторы пока не добавлены.</p>
    {% endif %}
{% endblock %}